body {
    direction: ltr
}

h1, p, table, th, td {
    font-size: 14pt;
    line-height: 25px;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-left: 10px;
    text-align: left;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 30pt;
}

p {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    text-align: left;
}

table, th, td {
    border: 3px solid black;
    text-align: center;
    padding-left: 10px;
    text-align: left;
}

a:link {
    color: lawngreen;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
}

a:visited {
    color: red;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
}

a:hover {
    color: forestgreen;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
}

a:active {
    color: darkred;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
}
